<section id="import">
  <%= form_for(@import, url: {action: :create}, html: {id: 'import-form'}) do |f| %>
    <%= f.text_field(:username, input_options(@import, 'Trakt.tv username')) %>
    <%= f.password_field(:password, input_options(@import, 'Trakt.tv password')) %>
    <%= f.password_field(:api_key, input_options(@import, 'Trakt.tv API key')) %>
    <%= f.file_field(:csv_file, required: true) %>
    <%= f.submit('Import') %>
  <% end %>
  <% if @import.errors.any? %>
  <div class="error">
    <span><i class="icon-warning"></i>   <%= @import.errors[:credentials].first %></span>
  </div>
  <% end %>
</section>
