<section id="export">
  <%= form_for(@export, url: {action: :create}, html: {id: 'export-form'}) do |f| %>
    <ul class="block-items">
      <li class="block-item">
        <%= f.text_field(:username, input_options(@export, 'MyEpisodes username')) %>
      </li>
      <li class="block-item">
        <%= f.password_field(:password, input_options(@export, 'MyEpisodes password')) %>
      </li>
      <li class="block-item">
        <%= f.submit('Export') %>
      </li>
    </ul>
    <% if @export.errors[:credentials].any? %>
      <div class="error">
        <span><i class="icon-warning"></i>   <%= @export.errors[:credentials].first %></span>
      </div?
    <% end %>
  <% end %>
</section>
