<!DOCTYPE html>
<html>
<head>
  <title>Trakter</title>
  <%= stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <section class="container">
      <div class="content">
        <header class="navigation">
          <div class="menu-wrapper">
            <%= link_to(root_path, class: 'logo') do %>
              <i class="logo-icon icomoon icon-screen"></i>
            <% end %>
            <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
            <% unless on_index_page? %>
            <div class="nav">
              <ul id="navigation-menu">
                <%= nav_link('export', new_export_path) %>
                <%= nav_link('import', '#') %>
                <li class="nav-link"><a href="javascript:void(0)">transfer</a></li>
              </ul>
            </div>
            <% else %>
            <h2>trakter</h2>
            <% end %>
          </div>
        </header>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
