<!DOCTYPE html>
<html>
<head>
  <title>Trakter</title>
  <%= stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <section class="container">
      <header class="navigation">
        <div class="menu-wrapper">
          <%= link_to(root_path, class: 'logo') do %>
            <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
          <% end %>
          <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
          <% unless on_index_page? %>
          <div class="nav">
            <ul id="navigation-menu">
              <%= nav_link('Export', export_path) %>
              <li class="nav-link"><a href="javascript:void(0)">Import</a></li>
              <li class="nav-link"><a href="javascript:void(0)">Transfer</a></li>
            </ul>
          </div>
        <% end %>
        </div>
      </header>
      <%= yield %>
    </section>
  </body>
</html>
